.special{
    padding:6rem 0;
    background:var(--bg-light-white);
}
#heading{
    color:#201658;
    font-size: 2.5rem;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.special .countdown-container{
    padding-top:4.375rem;
}
.special .countdown-container h3{
    color:#201658;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman';
    line-height: 1.875rem;
}
.special .countdown-container p{
    color:var(--text-dark);
    font-weight: 500;
    font-style: oblique;
    line-height: 1.875rem;
}
.special .countdown-container .countdown-counter{
    display:block;
    width:100%;
    margin:0;
    padding:0;
    margin-bottom:1.875rem;
}
.special .countdown-container .countdown-counter li{
    display:inline-block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    background:var(--bg-white);
    border-radius: 0.313rem;
    padding:2rem 1rem;
    width:15%;
    margin: 0 0.313rem;
}
.special .countdown-container .countdown-counter li span{
    font-weight: 500;
}
.special .countdown-container .countdown-price del{
    color:var(--text-gray);
    font-size: 1rem;
}
.special .special-img span{
    background:var(--bg-danger);
    border-radius: 0.313rem;
    color:var(--text-white);
    font-size: 0.813rem;
    letter-spacing:0.125rem;
    line-height:1.563rem;
    padding:0.125rem 0.813rem;
    text-transform: uppercase;
    position:absolute;
    left:1rem;
    top:1.188rem;
    z-index: 99;
}